//@theme "/home/guillem/.local/share/rofi/themes/spotlight-dark.rasi"
//@theme "/home/guillem/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/guillem/.local/share/rofi/themes/gruvbox.rasi"
